<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <h2 class="funny-title section-title">ITHubium</h2>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p id="note">Enter the GitHub username</p>

    <form>
        <!---->
        
        <!---->
        <input placeholder="Username">
        
        <div class="container">
            
            <button class="button">Search<i></i></button>
            <button class="button">Random<i></i></button>
            
        </div>
        
    </form>

    <img id="user-image" class="users" vspace="12" rspace="12" align="left">

    
    <div class="three"><p class="information" id="message-2-1"></p></div>
    <div class="leftstr"><p class="information" id="message-1"></p></div>
    <div class="rightstr"><p class="information" id="message-2"></p></div>
        
    <div class="i1"><p class="information" id="message-3"></p></div>
    <div class="i2"><p class="information" id="message-4"></p></div>
    
   <p class="information" id="message-5"></p>
    <p class="information" id="message-6"></p>
    <p class="information" id="message-7"></p>
    <p class="information" id="message-8"></p>
    <p class="information" id="message-9"></p>
    <p class="information" id="message-10"></p>
    <p class="information" id="message-11"></p>
    <p class="information" id="message-12"></p>
    


    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>